{% extends "base.html" %}
{% block title %}Pokenea · {{ pokenea.nombre }}{% endblock %}
{% block content %}
  <style>
    .pokenea-img { 
      max-width: 300px; 
      border-radius: 8px; 
      display: block; 
      margin: 0 auto;
    }
  </style>
  <div class="card">
    <div class="muted">Pokenea aleatorio</div>
    <h1 style="margin:6px 0 10px">{{ pokenea.nombre }}</h1>
    <img class="pokenea-img" src="{{ pokenea.imagen }}" alt="{{ pokenea.nombre }}">
    <p><em>"{{ pokenea.frase }}"</em></p>
  </div>
{% endblock %}

